* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #19a2ae;
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1;
  min-height: 100vh;

  display: grid;
  place-content: center;
  justify-items: center;
  gap: 1rem;

  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  /*  url("images/bg-pattern-bottom.svg"); */
  background-repeat: no-repeat, no-repeat;
  /* background-size: cover; */
  background-position: bottom 40vh right 50vw, top 40vh left 50vw;
}
main {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr auto 1fr 1fr;

  max-width: 20rem;

  border-radius: 1rem;
}
.profile-background-pattern {
  width: 100%;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  grid-row: 1/2;
}

.profile-pic {
  border-radius: 50%;
  border: 0.5rem solid #fff;
  width: 30%;

  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}

.span-grid-column {
  grid-column: 1/-1;

  gap: 1rem;
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr auto;

  justify-self: center;
  justify-items: center;
  padding: 4.5rem 2rem 1rem 2.5rem;
  gap: 0.55rem;
  grid-row: 2/3;
}
.name {
  font-weight: 700;
  font-size: 1.1rem;
}
.age {
  font-size: 1.1rem;
  color: #6a6f81;
}
.city {
  color: #6a6f81;
  font-size: 0.9rem;
  padding-top: 0.4rem;
}
.other-info {
  border-top: 0.01rem solid rgba(150, 150, 150, 0.212);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;

  padding: 1.5rem;
  gap: 1rem;
}
.other-info-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.numbers {
  font-weight: 700;
  font-size: 0.85rem;
}
.category-name {
  color: #6a6f81;
  font-size: 0.45rem;
  letter-spacing: 0.15rem;
}
footer {
  font-size: 11px;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
